form {
  margin: 20px 0;
}

input[type=text],
input[type=tel],
input[type=number],
input[type=email],
input[type=password],
select,
textarea {
  appearance: none;
  border-radius: 4px;
  border: 1px solid #C5C5C5;
  box-shadow: none;
  color: #555459;
  font-family: $body-font;
  margin: 0 0 10px;
  max-width: 400px;
  outline: 0;
  padding: 10px;
  transition: all .07s ease-out .0000001ms;
  width: 100%;
}

input.input-translucent {
  background: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.4);
  color: #fff;

  &::placeholder {
    color: rgba(255, 255, 255, 0.65);
  }
}

.form-inline {
  .form-group {
    input,
    select {
      float: left;
      margin-right: 10px;
    }
  }
}
