// Fonts
$body-font: 'Lato', sans-serif;

// Colors
$bg-primary-color: #2EA3BD;
$bg-secondary-color: #735ACE;
$body-color: #FFF;

// Breakpoints
$mobile-width: 680px;
$tablet-width: 920px;

// Grid Variables
$container-width: 960px;
$grid-pad: 20px;
$grid-pad-small: 5px;
$grid-columns: 12;
