// Fonts
$body-font: 'Lato', sans-serif;

// Colors
//$bg-primary-color: #348AC7;
//$bg-secondary-color: #7474BF;
$bg-primary-color: #aaa;
$bg-secondary-color: #666;
$body-color: #FFF;

// Breakpoints
$mobile-width: 680px;
$tablet-width: 920px;

// Grid Variables
$container-width: 960px;
$grid-pad: 20px;
$grid-pad-small: 5px;
$grid-columns: 12;
