<div class="centered">
  <h1 class="hero-title">
    Make Charlotte
    <div class="ideas">
      <div class="words">
        <span>think</span>
        <span>dance</span>
        <span>strong</span>
        <span>beautiful</span>
        <span>happy</span>
        <span>your own</span>
      </div>
      <span class="period">.</span>
    </div>
  </h1>
</div>
