<div class="group hero-container">
  <h1 class="hero-title">
    Make Charlotte
    <div class="ideas">
      <div class="words">
        <span>think</span>
        <span>dance</span>
        <span>strong</span>
        <span>beautiful</span>
        <span>happy</span>
        <span>your own</span>
      </div>
      <span class="period">.</span>
    </div>
  </h1>

  <div class="info large">
    Our city is great because people make it great. Make Charlotte seeks to celebrate
    the creators, the builders, and the doers who push the city forward and make it a wonderful place to live.
  </div>

  <div class="form large group">
    Interested in seeing what we're up to? Sign up for email updates.

    <form action="//makecharlotte.us5.list-manage.com/subscribe/post?u=caaba299dee96f0172f94c514&amp;id=1d025db475" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_blank" novalidate>
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_caaba299dee96f0172f94c514_1d025db475" tabindex="-1" value=""></div>

      <div class="form-group">
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="input-translucent" placeholder="Your email">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
      </div>
    </form>
  </div>
</div>
